@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  color: #333;
  background: #fcfcfc;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
    margin-top: 5rem;
}

h1, h2, h3 {
    color:#59189a;
}

.typo {
    margin-top:2rem;
    margin-bottom: 2rem;
}