$color: #59189a;

.imgCarousel {
    height : auto;
    object-fit: cover;
  }
  

.wrapper {
    max-width: 800px;
    margin: 4rem auto;
  }
  
  .controls {
    text-align: center;
  
    button {
      border: none;
      background: $color;
      color: white;
      cursor: pointer;
      padding: .3rem 1rem;
      border-radius: 2rem;
      outline: none;
      transition: background-color .2s linear;
  
      &:hover {
        background: darken( $color, 20% );
      }
    }
  }
  
  .splide {
    margin: 1rem 0 3rem;
  
    &--nav {
      padding: 0;
    }
  
    &__pagination {
      margin: 1rem;
    }
  
    &__autoplay {
      margin-top: 1rem;
      text-align: center;
    }
  
    &__play, &__pause {
      border: none;
      background: $color;
      color: white;
      transition: background-color .2s linear;
      cursor: pointer;
      padding: .3rem 1rem;
      border-radius: 2rem;
      outline: none;
      margin: 0 .2rem;
  
      &:hover {
        background: darken( $color, 20% );
      }
    }
  }
  .splide__arrows{
    text-decoration: "none";
    
  }