@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.login {
    margin-top: 5rem;
}

.features {
    background-color: #5a189a;
    color: white;
    text-align: center;
}

.feature-wrapper {
    margin-top: 3rem;
}

.feature-icons {
    height: 12rem;
    margin-bottom: 3rem;
}

.feature-text {
    font-size: 1.5rem;
}

.nft {
    width: 100%;
}

.feature-article {
    padding-bottom: 6rem;
    margin-bottom: 0;
}

.HomeCenter{

    
    display: flex;
    flex-direction: column;
}