.carousel{
    margin-top:10rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #9D4EDD;
    border-radius: 100%;
}



.description {
    margin-top: 5rem;
}

.review {
    margin-top: 5rem;
}

.linebreak {
	width: 100%;
	height: 0.1rem;
	background: black;
    margin-bottom: 1rem;
}

.button {
    margin-top: 2rem;
}

.buttondescription1 {
    background-color: #FF9100;
    border-radius: 0.2rem;
    border-color: #FF9100;
    color: white;
    margin-right: 2rem;
}

.buttondescription2 {
    background-color: #FF9100;
    border-radius: 0.2rem;
    border-color: #FF9100;
    color: white;
}

